.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .dashboard__wrapper {
    width: 50%;
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.todo__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
}
